@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}


html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

.cont {
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(20rem , 1fr));
  gap: 2rem;
  margin: 2rem 10%;
}

.cont .cart{
  background-color: #fff;
  border-radius: .5rem;
  border: .2rem solid rgba(163,81,25,.95);
  padding: 1rem 1rem .5rem;
  display: flex;
  flex-direction: column;
}

.cont .cart button{
  background-color: rgba(163,81,25,.95);
  color: #FFF;
  padding: .3rem 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .5rem;
}

.cont .cart span{
  color: rgba(163,81,25,.95);
  align-self: center;
  margin: .5rem 0 1rem;
  border-bottom: .05rem solid rgba(163,81,25,.95);
}

.cont .cart h6{
  color: rgba(0, 0, 0, .8);
  margin: .2rem 0;
}
