@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}


html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

.title{
  margin: 2rem 7% 0;
  padding: .5rem;
  text-align: center;
  text-align: center;
  background-color: rgba(163,81,25,.95);
  color: white;
}

.cont{
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  border: .1rem solid #16a085;
  margin: 0 7% 2rem;
  padding: 0;
  border-top: none;
}


.cont .image{
  height: 38rem;
  width: 30rem;
  background-color: rgba(163,81,25,.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  text-transform: uppercase;
}

.cont .image h3{
  border-top: .1rem solid white;
}

.cont .image p{
  text-transform: lowercase;
  width: 80%;
  text-align: center;
  border-bottom: .1rem solid white;
}

.cont .image img{
  width: 8rem;
  border-radius: .3rem;
}

form{
  /* border-right: .1rem solid #16a085; */
  height: 100%;
  width: 75%;
  padding-right: 3rem;
}

form table{
  width: 100%;
}

form table th{
  text-align: center;
  padding: 1rem 0;
  font-size: 1.5rem;
  background-color: #16a085;
  color: white;
}

form table tr td{
  padding: .5rem;
}

form table tr td:first-child{
  text-align: right;
}

form table .errors-text td{
  padding: 0 .5rem;
}

form table td input , form table td select{
  width: 100%;
  padding: .3rem .7rem;
  border: .1rem solid #16a085;
  border-radius: .3rem;
  margin-top: .3rem;
  outline: none;
}

form .button{
  text-align: center;
  margin: 2rem 0;
}

form .beneificier{
  text-align: center;
  margin-top: 2rem;
}

form button{
  background-color: #16a085;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  align-self: flex-end;
  padding: .5rem 1rem;
  border-radius: .5rem;
}


form button[disabled]
{
  background-color: #ddd;
  background: #ddd;
}
